
:root {
    --header-color: #2196f3;
    --nav-list: #212121;
    --list-contac: #757575;
    --foot: #ffffff;
  }
  body {
      font-family: 'Raleway', sans-serif;
      font-family: 'Roboto', sans-serif;
      color: var(--nav-list);
      font-size: 14px;
      Line height: 26;
    }
    
  
  .nav .nav-list .nav-list-item:hover,
  .nav .nav-list .nav-list-item:focus {
    color: var(--header-color);
  }
  .list .list-item:hover,
  .list .list-item:focus {
    color: var(--header-color);
  }
  .foot .list-foot .list-foot-item:hover,
  .foot .list-foot .list-foot-item:focus {
    color: var(--header-color);
  }
  .foot .list-foot .foot-item:hover,
  .foot .list-foot .foot-item:focus {
    color: var(--header-color);
  }
  .main .button .btn:hover,
  .main .button .btn:focus {
    color: var(--foot);
  }
  
  .list-item {
    color: var(--list-contac);
    font-weight: 500;
  }
  .nav-list-item {
    color: var(--nav-list);
    font-weight: 500;
  }
  .logo {
    color: var(--header-color);
    font-weight: 700;
  }
  
  
  .list-foot-item {
    color: var(--foot) !important;
    font-weight: 400;
  }
  .foot-item {
    color: var(--list-contac);
    font-weight: 400;
  }
  
  .btn {
    color: var(--nav-list);
    font-weight: 400;
    cursor:pointer;
    font-size: 16px;
  }
  
  p{
      color:var(--list-contac) !important;
      font-weight: 400;
  }
  h1{
      color: var(--foot) !important;
      font-size: 44px;
      font-weight: 900;
  }
  h2{
      font-size: 36px;
      color: var(--nav-list);
      font-weight: 700;
  }
  h3{
      color: var(--nav-list);
      font-weight: 500;
  }